:root {
  --primary-font: 'Raleway', sans-serif;
  --primary-white-color: #ffffff;
}
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
